{% extends 'landing/base.html' %}
{% load static %}
{% load cropping %}

{% block title %}
  Наша продукция
{% endblock %}

{% block content %}
  <main class="block-after-header">
    <section class="our-products-list">
      <div class="our-products-list__container container">
        <h1 class="our-products-list__title main-title">Наша продукция</h1>
        <div class="our-products-list__list">
          {% for product in products %}
            <article class="product-item">
              <span
                  class="product-item__name{% if product.is_available == False %}--not-available{% endif %} small-title">
                {{ product.name }}
              </span>
              <i class="product-item__price">{{ product.price }}₽ за {{ product.count }} {{ product.measure }}.</i>
              <p class="product-item__description description">{{ product.description }}</p>
              {% if product.media.exists %}
                <div class="gallery news-detail__gallery">
                  {% for media in product.media.all %}
                    <a class="gallery__item"
                       data-fancybox="{{ product.get_unique_name }}"
                       data-src="{{ media.file.url }}"
                       {% if media.is_video %}data-thumb="{% static 'landing/img/video-stub.png' %}"{% endif %}
                    >
                      {% if media.is_video %}
                        <video src="{{ media.file.url }}"></video>
                      {% else %}
                        <img data-lazy-src="{% cropped_thumbnail media 'miniature' %}" alt="Продукция" loading="lazy">
                      {% endif %}
                    </a>
                  {% endfor %}
                </div>
              {% endif %}
            </article>
          {% empty %}
            <p class="description">Пока что ничего нет</p>
          {% endfor %}
          <a href="{% url 'index' %}#our-products" class="booking-btn">На главную</a>
        </div>
      </div>
    </section>
  </main>
{% endblock %}

{% block javascript %}
  <script src="{% static 'landing/js/init-fancybox.js' %}"></script>
{% endblock %}